# Database settings
DATABASE_URL=DatabaseUrlExample
DATABASE_USERNAME=DatabaseUsernameExample
DATABASE_PASSWORD=DatabasePasswordExample

# Security / JWT
JWT_KEY=JwtKeyExample

# Brevo
BREVO_API_KEY=BrevoApiKeyExample